---
layout: markdown_page
title: Plan:Certify Backend Team
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Plan:Certify backend team

The Plan:Certify backend team works on the backend part of GitLab's
[Certify category] in the [Plan stage].

For more details about the vision for this area of the product, see the
[Plan stage] page.

[Certify category]: /handbook/product/categories/#certify-group
[Plan stage]: /direction/plan/

### Team members

This team is currently shared between [Plan:Portfolio Management] and
Plan:Certify. See that page for details.

[Plan:Portfolio Management]: /handbook/engineering/development/dev/plan-portfolio-management-be/

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] (Plan(?!:)|Plan:Certify)/, direct_manager_role: 'Engineering Manager, Plan:Portfolio Management & Plan:Certify') %>

### Work

See the [Plan stage page] and the [Plan:Project Management backend team
page].

[Plan stage page]: /handbook/product/categories/plan/
[Plan:Project Management backend team page]: /handbook/engineering/development/dev/plan-project-management-be/

#### Planning rotation

<%= partial("handbook/engineering/development/dev/plan/planning_rotation") %>

## Useful Links

<%= partial("handbook/engineering/development/dev/plan/useful_links", locals: { board: { name: 'Plan:Certify Build Board', url: 'https://gitlab.com/groups/gitlab-org/-/boards/1290309' }}) %>
