.callout.gitlab-trial
  %h2
    Simplify Kubernetes deployment with Google Cloud Platform
  %p
    Join as we show you how to deploy applications at scale using GKE and GitLab’s robust Auto DevOps capabilities.
  %a.btn.cta-btn.orange.just-commit{ href: "/webcast/scalable-app-deploy/" } Help me scale my app deployment