---
layout: feature
title: InnerSource with GitLab
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 InnerSource with GitLab
        %h3#description The power of open source, without giving away your code
        %a.btn.cta-btn.btn-white{ href: "https://about.gitlab.com/free-trial/", target: "_blank" } Try GitLab for Free
  .sub-wrapper
    .container
      .row#overview
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 What is InnerSource?
          %p.overview
            :markdown
              InnerSource is the use of open source best practices and establishment of an open source culture — within your organization.
          %p.overview
            :markdown
              Your organization may develop proprietary software, while opening up your work internally.
      %hr.divider/

      .row#benefit-1
        .col-md-4.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("file-locking-icon-2")
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Benefits of InnerSource
          %p.overview
            :markdown
              Benefits that are typical of open source development can be realized with InnerSource methods that foster collaboration and communication.
          .overview
            :markdown
              - **Faster, with quality:** Unit tests, code coverage, and continuous integration help improve code earlier
              - **Documentation:** Code is better documented, both in comments and less formally in discussions
              - **Code reuse:** Code and architecture are discoverable and available across teams and the organization
              - **Collaboration:** Friction reduced for code review, communication, and contributions in and between teams
              - **Culture:** Silos broken down, happiness improved and with that, better retainment and recruitment
          %p.overview
            :markdown
              Learn more with [this getting-started guide by O’Reilly editor Andy Oram](https://www.oreilly.com/radar/getting-started-with-innersource/).
      %hr.divider/

      .row#benefit-2
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Why use GitLab for InnerSource?
          .overview
            :markdown
              - **Prove your ROI:** get the data you need with [GitLab Cycle Analytics](https://about.gitlab.com/product/cycle-analytics/)
              - **Network effects:** leverage talent across your organization with all your users — dev, ops, and beyond — [using one application for the DevOps lifecycle](https://about.gitlab.com/single-application/)
              - **Smarter feedback:** with [GitLab Review Apps](https://about.gitlab.com/product/review-apps/) you can CI test and share live changes before deploying to production
              - **Security:** [39% of developers say innersourcing has helped identify new security issues](https://about.gitlab.com/2017/04/19/how-innersourcing-can-help-your-security-team/)
              - **Open core:** get more out of inner source by using open source software from GitLab, where we believe [everyone can contribute](https://about.gitlab.com/community/contribute/)
        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("checklist-icon")
      %hr.divider/
